<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
<configuration>
	
	자주 사용하는 타입의 별칭	
	<typeAliases>
		<typeAlias type="com.test.spring.MyBatisDTO" alias="mdto"/>
	</typeAliases>
	
</configuration> -->

<configuration>
	<typeAliases>
		<typeAlias type="co.worker.threeminutessul.user.model.UserVO" alias="userVo"/>
		<typeAlias type="co.worker.threeminutessul.login.model.LoginVO" alias="loginVo"/>
		<typeAlias type="co.worker.threeminutessul.comment.medel.CommentVO" alias="commentVo"/>
		<typeAlias type="co.worker.threeminutessul.likeyhate.model.HateVO" alias="hateVo"/>
		<typeAlias type="co.worker.threeminutessul.likeyhate.model.LikeyVO" alias="likeyVo"/>
		<typeAlias type="co.worker.threeminutessul.board.model.BoardVO" alias="boardVo"/>
		<typeAlias type="co.worker.threeminutessul.likeyhate.model.LikeHateVO" alias="likehatevo"/>
		<typeAlias type="co.worker.threeminutessul.board.model.CategoryVO" alias="categoryVo"/>
		<typeAlias type="co.worker.threeminutessul.board.model.SearchVO" alias="searchVo"/>
	</typeAliases>	
</configuration>