<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="likeyhate">
	<!-- <update id="">SQL</update>
	<delete id="">SQL</delete>
	<insert id="">SQL</insert>
	<select id="">SQL</select> -->	
	<select id="getLikeHateCount" parameterType="likehatevo" resultType="likehatevo">
		select 
			likehateSeq,
			boardSeq,
			userSeq,
			isLike,
			isHate
		from tblLikeHate 
		where boardSeq = #{boardSeq} and userSeq = #{userSeq}
	</select>
	
	<insert id ="insertLikeHate" parameterType="likehatevo">
		insert into tblLikeHate(boardSeq, userSeq, isLike, isHate) values( #{boardSeq},#{userSeq},#{isLike},#{isHate})
	</insert>
	
	<update id ="updateLikeHate" parameterType="likehatevo">
		update tblLikeHate set isLike = #{isLike}, isHate = #{isHate} where boardSeq =  #{boardSeq} and userSeq = #{userSeq}
	</update>
	
	<select id="getReturnlikehate" parameterType="likehatevo" resultType="resultLHVO">
		select 
			coalesce(sum(isLike)::integer,0) as likecount, 
			coalesce(sum(isHate)::integer,0) as hatecount,
			(select case when isLike = 1 then 'like' else 'hate' end 
			 from tblLikeHate where userSeq = #{userSeq} and boardSeq = #{boardSeq}) as isLikeHate		--type	
		from tblLikeHate 
		where boardSeq = #{boardSeq}
		  and (isLike=1
		  or isHate=1)
	</select>
	
	
	
	
	
	
	
	
	
</mapper>

